<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <title>rhea.framework Reference Model</title>
    <meta name="Rhea Reference Model" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<style>
		.itir-header {
		    height: 40vh;
		    min-height: 300px;
		    background: url('../static/assets/bg.png') center center no-repeat scroll;
		    -webkit-background-size: cover;
		    -moz-background-size: cover;
		    background-size: cover;
		    -o-background-size: cover;
		}
		
		.descInHeader {
			vertical-align: middle;
			line-height: 300px;
		}
	</style>
</head>
<body>
	<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  	  <a class="navbar-brand" href="/">
  	    <img src="../static/assets/rhea.svg" width="30" height="30" class="d-inline-block align-top" alt="">
  	    rhea.framework
  	  </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#rheanavbartoggle" aria-controls="rheanavbartoggle" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
	   <div class="collapse navbar-collapse" id="rheanavbartoggle">
	    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
	         <li class="nav-item">
	           <a class="nav-link" href="/">Overview</a>
	         </li>
	         <li class="nav-item">
	           <a class="nav-link" href="/flowtemplate">Template</a>
	         </li>
	         <li class="nav-item active">
	           <a class="nav-link" href="/ontologyview">Model<span class="sr-only">(current)</span></a>
	         </li>
	         <li class="nav-item">
	           <a class="nav-link" href="/literature">Literature</a>
	         </li>
	    </ul>
		<a href="http://homepage.univie.ac.at/david.haselberger/surveys/index.php?sid=21273&lang=en" class="btn btn-danger btn-lg my-2 my-sm-0 btn-sm" role="button" aria-disabled="true">Evaluate!</a>
		<a href="https://github.com/rheafmwk/rheafmwk" class="ml-2">
		    <img src="../static/assets/mark-github.svg" width="30" height="30" alt="">
		  </a>
	</div>
	</nav>
	<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3 class="text-left lead my-2">Reference Model <a href="/ontologyvisualization" class="btn btn-outline-success  my-2 my-sm-0 float-right" role="button" aria-disabled="true">Model Visualization</a></h3>
			<div>
		  <h5>General Information</h5>
		    <p>This reference model comprises a collection of experience descriptions concerning  interpersonal leadership interactions in teams (flows) that can </p> <ul> <li>support team performance,</li> <li>serve as anchors in personal reflection and learning processes,</li> <li>be implemented along the <a href="https://en.wikipedia.org/wiki/Unified_Process">Unified Process.</a> </li> </ul></p>
		    <hr>
		    <h5>Model Schema</h5>
			<p>Central to the reference model are leadership team interaction experience descriptions (flows). Flows are connected to other flows in the reference model based on semantic relationships between flow keywords. By the help of crowd-sourcing each flow was categorized to leadership behaviours, (project) risks, and Unified Process project life-cycle phases. Flows were further attributed to basic emotions according to the <a href="http://www.saifmohammad.com/WebPages/NRC-Emotion-Lexicon.htm">NRC Word-Emotion Association Lexicon</a>, version 0.92. Sentiments were evaluated using the <a href="https://github.com/cjhutto/vaderSentiment">Valence Aware Dictionary and sEntiment Reasoner</a>. Each flow is part of one core  flow.</p>
		    <p>
		    	<div class="text-center"><img src="../static/assets/RefModModelHP.svg" width="400" height="400" alt=""></div>
		    </p>
			
		    <hr>
		    <h5>Core Flows</h5>
		    <p>
		    	An initial collection of 78 flows was retrieved in a <a href="/literature">systematic literature review</a>. Four core flows - or foundational topics of leadership team interaction - were distinguished based on community-detection and document similarity clusterings.
		    </p>
		  <div class="row">
	  	  <div class="col-md-6 my-3">
	  	      <div class="card">
	  	          <img class="card-img-top" src="../static/assets/PrototypeTeamIdentity.svg" width="150" height="150" alt="">
	  	          <div class="card-body">
	  	              <h4 class="card-title">Prototype Team Identity</h4>
	  	              <p class="card-text">This core flow deals with how individuals of diverse backgrounds working together feel being valuable participants of a team.</p>
	  	          </div>
	  	          <!--<div class="card-footer">
	  	              <a href="#" class="btn btn-primary">Find Out More!</a>
	  	          </div>-->
	  	      </div>
	  	  </div>
	  	  <div class="col-md-6 my-3">
	  	      <div class="card">
	  	          <img class="card-img-top" src="../static/assets/OrganizeForComplexity.svg" width="150" height="150" alt="">
	  	          <div class="card-body">
	  	              <h4 class="card-title">Organize for Complexity</h4>
	  	              <p class="card-text">The main intent is to find ways to deal with - or rather welcome and deploy - complexity in business or work requirements, (technological) resources, stakeholder involvement and interpersonal team processes. This includes team opportunities such as remote team members or virtual teams.</p>
	  	          </div>
	  	          <!--<div class="card-footer">
	  	              <a href="#" class="btn btn-primary">Find Out More!</a>
	  	          </div>-->
	  	      </div>
	  	  </div>
	      </div>
		  <div class="row">
	  	  <div class="col-md-6 my-3">
	  	      <div class="card">
	  	          <img class="card-img-top" src="../static/assets/FacilitateTeamCohesion.svg" width="150" height="150" alt="">
	  	          <div class="card-body">
	  	              <h4 class="card-title">Facilitate Team Cohesion</h4>
	  	              <p class="card-text">In a cohesive team, participants work jointly towards shared goals. The team satisfies the emotional needs of its members. Team members work together complementarily - collaboratively rather than individually. Team cohesion is a dynamic, multifaceted, interpersonal process.</p>
	  	          </div>
	  	          <!--<div class="card-footer">
	  	              <a href="#" class="btn btn-primary">Find Out More!</a>
	  	          </div>-->
	  	      </div>
	  	  </div>
	  	  <div class="col-md-6 my-3">
	  	      <div class="card">
	  	          <img class="card-img-top" src="../static/assets/StructureForTaskEffectiveness.svg" width="150" height="150" alt="">
	  	          <div class="card-body">
	  	              <h4 class="card-title">Structure for Task Effectiveness</h4>
	  	              <p class="card-text">Teams work towards shared goals. This core flow spans approaches and tools to complete goals in time, budget and scope satisfying stakeholders and, succeeding, team members. As such, it is most specific to the business area the team operates in. It is about getting things done.</p>
	  	          </div>
	  	          <!--<div class="card-footer">
	  	              <a href="#" class="btn btn-primary">Find Out More!</a>
	  	          </div>-->
	  	      </div>
	  	  </div>
	      </div>
      </div>
				
		</div>
		<div class="col-md-4">
		</div>
	</div>
</div>



<footer class="py-3 bg-light">
	 <div class="container">
    <p class="m-0 text-center"><small>This website is designed for the demonstration and evaluation of the <i>rhea.framework</i> which is elaborated as part of a doctorate study at the University of Vienna, Austria. Version 1.1 (2018). This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/">Creative Commons Attribution-NoDerivatives 4.0 International License</a>. Project source code is released under the <a href="https://www.mozilla.org/en-US/MPL/2.0/">Mozilla Public License (Version 2.0)</a>. <a href="mailto:&#100;&#097;&#118;&#105;&#100;&#068;&#079;&#084;&#104;&#097;&#115;&#101;&#108;&#098;&#101;&#114;&#103;&#101;&#114;&#065;&#084;&#117;&#110;&#105;&#118;&#105;&#101;&#068;&#079;&#084;&#097;&#099;&#068;&#079;&#084;&#097;&#116;">Contact</a>.
		<!--Contributors: <a href="mailto:&#100;&#097;&#118;&#105;&#100;&#068;&#079;&#084;&#104;&#097;&#115;&#101;&#108;&#098;&#101;&#114;&#103;&#101;&#114;&#065;&#084;&#117;&#110;&#105;&#118;&#105;&#101;&#068;&#079;&#084;&#097;&#099;&#068;&#079;&#084;&#097;&#116;">David Haselberger</a>. -->
	</small></p>
</div>
</footer>
	
<script src="../static/js/jquery-3.2.1.min.js"></script>
<script src="../static/js/popper.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
</body>
</html>