<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <title>rhea.framework Reference Model</title>
    <meta name="Rhea Reference Model" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<style>
		.itir-header {
		    height: 40vh;
		    min-height: 300px;
		    background: url('../static/assets/bg.png') center center no-repeat scroll;
		    -webkit-background-size: cover;
		    -moz-background-size: cover;
		    background-size: cover;
		    -o-background-size: cover;
		}
		
		.descInHeader {
			vertical-align: middle;
			line-height: 300px;
		}
	</style>
</head>
<body>
	<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  	  <a class="navbar-brand" href="/">
  	    <img src="../static/assets/rhea.svg" width="30" height="30" class="d-inline-block align-top" alt="">
  	    rhea.framework
  	  </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#rheanavbartoggle" aria-controls="rheanavbartoggle" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
	   <div class="collapse navbar-collapse" id="rheanavbartoggle">
	    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
	         <li class="nav-item">
	           <a class="nav-link" href="/">Overview</a>
	         </li>
	         <li class="nav-item">
	           <a class="nav-link" href="/flowtemplate">Template</a>
	         </li>
	         <li class="nav-item active">
	           <a class="nav-link" href="/ontologyview">Model<span class="sr-only">(current)</span></a>
	         </li>
	         <li class="nav-item">
	           <a class="nav-link" href="/literature">Literature</a>
	         </li>
	    </ul>
		<a href="http://homepage.univie.ac.at/david.haselberger/surveys/index.php?sid=21273&lang=en" class="btn btn-danger btn-lg my-2 my-sm-0 btn-sm" role="button" aria-disabled="true">Evaluate!</a>
		<a href="https://github.com/rheafmwk/rheafmwk" class="ml-2">
		    <img src="../static/assets/mark-github.svg" width="30" height="30" alt="">
		  </a>
	</div>
	</nav>
	<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3 class="text-left lead my-2">Reference Model <a href="/ontologyvisualization" class="btn btn-outline-success  my-2 my-sm-0 float-right" role="button" aria-disabled="true">Model Visualization</a></h3>
			<div>
		  <h5>General Information</h5>
		    <p>The <i>rhea.framework</i> reference model comprises a collection of experience descriptions concerning interpersonal leadership interactions in teams (flows) that can </p> <ul> <li>support team performance,</li> <li>serve as anchors in personal reflection and learning processes,</li> <li>be implemented along the <a href="https://en.wikipedia.org/wiki/Unified_Process">Unified Process.</a> </li> </ul></p>
		    <hr>
		    <h5>Core Flows</h5>
		    <p>
		    	An initial collection of 78 flows was retrieved through a systematic literature review and ontology development. Four core flows - or foundational topics of leadership team interaction - were distinguished by means of community-detection and document similarity clusterings.
		    </p>
		</div>
		  <div class="row">
	  	  <div class="col-md-3 my-3">
	  	      <div class="card">
	  	          <img class="card-img-top" src="../static/assets/PrototypeTeamIdentity.svg" width="150" height="150" alt="">
	  	          <div class="card-body">
	  	              <h4 class="card-title">Prototype Team Identity</h4>
	  	              <p class="card-text">This core flow deals with how individuals of diverse backgrounds working together feel being valuable participants of a team.</p>
	  	          </div>
	  	          <div class="card-footer">
	  	              <a href="#protoModal" class="btn btn-primary" data-toggle="modal" data-target="#protoModal">Key Takeaways</a>
	  	          </div>
	  	      </div>
	  	  </div>
	  	  <div class="col-md-3 my-3">
	  	      <div class="card">
	  	          <img class="card-img-top" src="../static/assets/OrganizeForComplexity.svg" width="150" height="150" alt="">
	  	          <div class="card-body">
	  	              <h4 class="card-title">Organize for Complexity</h4>
	  	              <p class="card-text">The main intent is to find ways to deal with - or rather welcome and deploy - complexity in business or work requirements, (technological) resources, stakeholder involvement and interpersonal team processes. This includes team opportunities such as remote team members or virtual teams.</p>
	  	          </div>
	  	          <div class="card-footer">
	  	              <a href="#orgCompModal" class="btn btn-primary" data-toggle="modal" data-target="#orgCompModal">Key Takeaways</a>
	  	          </div>
	  	      </div>
	  	  </div>
	  	  <div class="col-md-3 my-3">
	  	      <div class="card">
	  	          <img class="card-img-top" src="../static/assets/FacilitateTeamCohesion.svg" width="150" height="150" alt="">
	  	          <div class="card-body">
	  	              <h4 class="card-title">Facilitate Team Cohesion</h4>
	  	              <p class="card-text">In a cohesive team, participants work jointly towards shared goals. Team members work together complementarily - collaboratively rather than individually. Team cohesion is a dynamic, multifaceted, interpersonal process.</p>
	  	          </div>
	  	          <div class="card-footer">
	  	              <a href="#fCohModal" class="btn btn-primary" data-toggle="modal" data-target="#fCohModal">Key Takeaways</a>
	  	          </div>
	  	      </div>
	  	  </div>
	  	  <div class="col-md-3 my-3">
	  	      <div class="card">
	  	          <img class="card-img-top" src="../static/assets/StructureForTaskEffectiveness.svg" width="150" height="150" alt="">
	  	          <div class="card-body">
	  	              <h4 class="card-title">Structure for Task Effectiveness</h4>
	  	              <p class="card-text">Teams work towards shared goals. This core flow spans approaches and tools to complete goals in time, budget and scope satisfying stakeholders and, succeeding, team members. As such, it is most specific to the business area the team operates in. It is about getting things done.</p>
	  	          </div>
	  	          <div class="card-footer">
	  	              <a href="#taskEffModal" class="btn btn-primary" data-toggle="modal" data-target="#taskEffModal">Key Takeaways</a>
	  	          </div>
	  	      </div>
	  	  </div>
	      </div>
      </div>	
		</div>
		
		<div class="modal fade" id="protoModal" tabindex="-1" role="dialog" aria-labelledby="protoModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Prototype Team Identity - Key Takeaways</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
	  			<ul>
					<li><small class="lead">Leadership effectiveness is related to leaders’ ability to represent and advance the social identity of a group. Effective leaders transform by embodying the group they influence.</small></li>
					<li><small class="lead">Team cohesion and cooperation are emergent results of social identity. Trust and reciprocal respect are associated with social identity. Being perceived as trustworthy, fair and charismatic is a consequence of in-group prototypicality.</small></li>
					<li><small class="lead">Team leaders may turn to the group and its social context rather than relying on de-contextualized knowledge and principles.</small></li>
					<li><small class="lead">To prototype team identity, team members actively listen to co-workers to understand their needs, values, beliefs, priorities, aspirations. They assist in establishing norms and conventions that regulate working together within the team, particularly by authentic role-modeling.</small></li>
				</ul>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>
		
		<div class="modal fade" id="orgCompModal" tabindex="-1" role="dialog" aria-labelledby="orgCompModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Organize for Complexity - Key Takeaways</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
	  			<ul>
					<li><small class="lead">In highly complex work environments, such as ICT projects, change is a steady companion.</small></li>
					<li><small class="lead">Change - in requirements, technology, the organization or the team - goes with uncertainty.</small></li>
					<li><small class="lead">Team self-organization can support in adapting to complexity.</small></li>
					<li><small class="lead">Self-organization of (parts of) a team goes along decentralization in decision-making.</small></li>
					<li><small class="lead">Facilitative team leaders listen to team members and stakeholders (in a way those feel empathically understood). They support team self-organization.</small></li>
				</ul>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>
		
		<div class="modal fade" id="fCohModal" tabindex="-1" role="dialog" aria-labelledby="fCohModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Facilitate Team Cohesion - Key Takeaways</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
	  			<ul>
					<li><small class="lead">In a cohesive team, the team satisfies emotional needs of its members.</small></li>
					<li><small class="lead">Facilitating team cohesion may include coordinating to establish and facilitate communication, and to manage meaning to increase security and trust within the team.</small></li>
					<li><small class="lead">Cohesion can foster team members’ relative independence in opinion from each other.</small></li>
					<li><small class="lead">A cohesive team needs ways to aggregate all sorts of sharing of involved participants to be able to learn from each others experience. It needs opportunities - such as status updates within the group in context-appropriate frequency that may be arranged by accessible flipcharts or online sharing resources - to turn private information and judgements into collective decisions.</small></li>
					<li><small class="lead">Team leaders facilitating team cohesion are balancing attentive focus between maintaining the team, or holding the team together, and achieving the team task.</small></li>
				</ul>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>
		
		<div class="modal fade" id="taskEffModal" tabindex="-1" role="dialog" aria-labelledby="taskEffModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Structure for Task Effectiveness - Key Takeaways</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
	  			<ul>
					<li><small class="lead">In complex projects, such as software development projects, - with many changes in requirements - an overview of necessary steps to task completion needs to be kept. Directions have to be outlined.</small></li>
					<li><small class="lead">Team members need to be up-to-date with the status on problems their co-workers are tackling.</small></li>
					<li><small class="lead">System architecture is a result of the shared team and stakeholder vision.</small></li>
					<li><small class="lead">Versioning systems can facilitate rapid development and continuous releases of artifacts. Team communication can be supported by channel-based instant messaging systems. Ticketing systems can be used to highlight customer-relevant features and change requests.</small></li>
				</ul>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>
		
		
		<hr/>
		<h5>Exploring the Reference Model</h5>
	</div>

	<div class="col-md-12">
			<div class="text-center"><p>The  <a href="/ontologyvisualization" class="btn btn-outline-success  my-2 my-sm-0" role="button" aria-disabled="true">Model Visualization</a> can be used to start delving into the reference model.</p><p>Otherwise, the ontology graph can be <a href="../static/assets/rheadb.zip">downloaded</a> and investigated with, for example, <a href="https://neo4j.com/download/">neo4j-Desktop</a>.</p></div>
		</div>
	</div>
	</div>
</div>



<footer class="py-3 bg-light">
	 <div class="container">
    <p class="m-0 text-center"><small>This website is designed for the demonstration and evaluation of the <i>rhea.framework</i> which is elaborated as part of a doctorate study at the University of Vienna, Austria. Version 1.1 (2018). This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/">Creative Commons Attribution-NoDerivatives 4.0 International License</a>. Project source code is released under the <a href="https://www.mozilla.org/en-US/MPL/2.0/">Mozilla Public License (Version 2.0)</a>. <a href="mailto:&#100;&#097;&#118;&#105;&#100;&#068;&#079;&#084;&#104;&#097;&#115;&#101;&#108;&#098;&#101;&#114;&#103;&#101;&#114;&#065;&#084;&#117;&#110;&#105;&#118;&#105;&#101;&#068;&#079;&#084;&#097;&#099;&#068;&#079;&#084;&#097;&#116;">Contact</a>.
		<!--Contributors: <a href="mailto:&#100;&#097;&#118;&#105;&#100;&#068;&#079;&#084;&#104;&#097;&#115;&#101;&#108;&#098;&#101;&#114;&#103;&#101;&#114;&#065;&#084;&#117;&#110;&#105;&#118;&#105;&#101;&#068;&#079;&#084;&#097;&#099;&#068;&#079;&#084;&#097;&#116;">David Haselberger</a>. -->
	</small></p>
</div>
</footer>
	
<script src="../static/js/jquery-3.2.1.min.js"></script>
<script src="../static/js/popper.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
</body>
</html>
